<ion-header-bar class="bar-positive">
  <h1 class="title">Record A Rad Skate Trick</h1>
  <a class="button button-small icon ion-home" href="#/tab/tab-dash"></a>
</ion-header-bar>

<ion-content class="has-header" ng-controller="VideoCtrl">
    <div class="card padding">
       <div class="col item item-body">
            <img class="full-image" ng-show="imgURI !== undefined" ng-src="{{image}}">
            <img class="full-image" ng-show="imgURI === undefined" ng-src="http://placehold.it/350x350">
        </div>
    </div>
        <div class="row">
          <button on-touch="ontouch" id="takeVideo" class="col button button-small button-royal padding">Record</button>
          <button class="col button button-small button-royal padding" href="#/tab/video">Post</button>
      </div>
      <div id="videoArea"></div>
  </ion-content>
