<ion-view view-title="Video">
 <ion-content ng-controller="VideoCtrl">
   <input type="file" id="file-input">
      <p id="status">Please select a file</p>
      <img id="preview" src="/images/default.png">

      <form ng-submit="$ctrl.PostCtrl(video)" method="POST">
          <input type="hidden" id="video-url" name="video-url" value="/images/default.png">
          <input type="text" name="username" placeholder="Username"><br>
          <button class="button button-block button-dark" type="submit" name="button">Submit</button>
      </form>
 </ion-content>
</ion-view>
