<ion-view view-title="Secret Skate">
 <ion-content ng-controller="PostCtrl">
<div class="upload">
   <p id="status">Once you've gotten your video ready, upload the file below!</p>
   <input class="upload-button" type="file" id="file-input">
   </div>

      <form ng-submit="submitVideo()" method="POST">
          <input type="hidden" id="video-url" name="video-url" value="">
          <a href="/upload/videos"><button id="submit" class="button button-block button-dark" type="submit" name="button">Submit</button>
      </form>
 </ion-content>
</ion-view>
