<ion-view view-title="Video">
 <ion-content  ng-controller="VideoCtrl">
   <input type="file" id="file-input">
      <p id="status">Please select a file</p>
      <img id="preview" src="/images/default.png">

      <form method="POST" action="/app-video">
          <input type="hidden" id="video-url" name="video-url" value="/images/default.png">
          <input type="text" name="username" placeholder="Username"><br>
          <button class="button button-block button-dark" type="button" name="button" ui-sref="tab.video">submit</button>
      </form>
 </ion-content>
</ion-view>
