
<ion-content>
      <form class="padding list signup" novalidate name='myForm' ng-submit="$ctrl.addUser()">
      <div class="list">
        <a class="button icon ion-home" href="#/tab/tab-dash"> Home</a>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input
                id="email"
                type="text"
                name="email"
                ng-model="$ctrl.post.email"
                class="form-control"
                placeholder="John@skate"
                required>
                <div id="error" class="error" ng-show="myForm.email.$touched && myForm.email.$invalid">
                  <p ng-show="myForm.email.$error.required">email is required.</p>
                </div>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Username</span>
          <input
                id="username"
                type="text"
                name="username"
                ng-model="$ctrl.post.username"
                class="form-control"
                placeholder="John"
                ng-minlength="4"
                required>
                <div class="error" ng-show="myForm.username.$touched && myForm.username.$invalid">
                  <p ng-show="myForm.username.$error.required">Title is required.</p>
                </div>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input
                id="password"
                type="password"
                name="password"
                ng-model="$ctrl.post.password"
                class="form-control"
                placeholder="password"
                ng-minlength="8"
                required>
                <div class="error" ng-show="myForm.password.$touched && myForm.password.$invalid">
                  <p ng-show="myForm.password.$error.required"> Password required.</p>
                </div>
        </label>
        <br>
        <div class="row">
          <a ui-sref="profile" class="button button-dark col-50 col-offset-25" ng-disabled="myForm.$invalid">
            Log In
          </a>
        </div>
      </div>
    </form>
</ion-content>
