<ion-view view-title="Video">
  <ion-content ng-controller="VideoCtrl">
    <img ng-show="imgURI !== undefined" ng-src="{{image}}">
    <img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300">
    <!-- <button class="button" ng-click="captureVideo()">Take Picture</button> -->
    <button id="takeVideo">Take Video</button>
		<div id="videoArea"></div>

    <button class="button-balanced" ng-click="count = count + 1" ng-init="count=0">
      +
    </button>
    <span>
      Gnar: {{count}}
    </span>
  </ion-content>
</ion-view>
