  <ion-content ng-controller="VideoAllCtrl">
    <div class="list">
      <a class="button icon ion-home" href="#/tab/tab-dash"> Home</a>
      <div class="" ng-repeat="video in videos | orderBy: '-points' " >
        <!-- sort this shit by vote count -->
      <a class="item item-thumbnail-left">
          <img src="{{video.videoUrl}}">
          <h2>{{video.name}}</h2>
          <p>{{video.skater}}</p>
          <button class="icon ion-icecream button-balanced" ng-click="upVote(video)" ng-init="count=0">

          </button>
          <span>
            Ice Cream: {{video.points}}
          </span>
        </div>
      </a>
    </div>
  </ion-content>
