/* Empty. Add your own CSS if you like */
ion-content {
  font-family: 'Barrio', cursive;
}

body {
  font-family: 'Barrio', cursive;

}

button {
    font-family: 'Barrio', cursive;
}

h2 {
  font-family: 'Barrio', cursive;
}

.bar-stable {
  background-color: #00ffe9 !important;
}

#map {
  width: 100%;
  height: 80%;
}

.signup {
  padding-top: 8em;
}

.video {
  width: 50vh;
  height: 50vh;
}

.takeVideo {
  margin: 0;
  margin-left: .1em;
  margin-right: .1em;
  /*border: 50px white solid;*/
}

img{
  display: flex;
  flex-direction: row;
  align-content: center;
}
