/* Empty. Add your own CSS if you like */
ion-content {
  font-family: 'Raleway', sans-serif;
}

body {
  font-family: 'Barrio', cursive;

}

button {
    font-family: 'Barrio', cursive;
}

h2 {
  font-family: 'Barrio', cursive;
}

.bar-stable {
  background-color: black !important;
}

#map {
  width: 100%;
  height: 70vh;
}

.signup {
  padding-top: 8em;
}

.video {
  width: 50vh;
  height: 50vh;
}

.takeVideo {
  margin: 0;
  margin-left: .1em;
  margin-right: .1em;
  /*border: 50px white solid;*/
}
.platform-android .bar .title{
  color: white;
}
img{
  display: flex;
  flex-direction: row;
  align-content: center;
}
.videocard{
  margin-top: 5em;
}
.item h1:last-child, .item h2:last-child, .item h3:last-child, .item h4:last-child, .item h5:last-child, .item h6:last-child, .item p:last-child{
  color: red;
}
